$color-blue: #0069b4;
$color-orange: #f9a301;
$color-gray: #ededed;
$color-text: #252525;
$color-danger: #dc3545;
$shadow: 0px 3px 3px 1px rgba(0,0,0,0.15);

a {
  cursor: pointer;
}

html, body, #main-content, #react-root, #react-root>div {
  height: 100%
}

.main-footer {
  display: none;
}

.hidden {
  display: none;
}

.protocols-title {
  margin: 20px 0;
  color: $color-text;
}

input[type="radio"] {
  top:0 !important;
}

.btn-oval {
  border-radius: 20px !important;
  width: 200px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 5px 10px;
  border: 0px solid transparent;
  font-size: 15px;
  transform: translateY(0px);
  transition:.2s;
}

.btn-oval:hover {
  color: $color-blue;
  box-shadow: $shadow;
  transform: translateY(-1px);
}


.btn-oval:hover > span,
.btn-oval:hover > i {
  color: $color-blue;
}

.input-group > .form-control.search-input {
  border-radius: 20px !important;
  width:100%;
  box-shadow: none;
  border: 1px solid black;
  z-index: 1;
}



.input-search-submit-icon {
  display: none;
  position: absolute;
  right: 0;
  padding-top:8px;
  width: 40px;
  height: 100%;
  z-index: 1;
}

.input-group {
  min-width: 275px;
  max-width: 400px;
}

.input-select {
  font-size: 15px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEzMzkgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMzM5IDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiMyNTI1MjU7fQo8L3N0eWxlPgogIDxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik01MDIuNiwxMDcuMWwtMC40LTAuM2MtNS44LTYuNy0xMy44LTEwLjktMjIuOC0xMC45SDMyLjZjLTkuMiwwLTE3LjMsNC40LTIzLjEsMTEuM2wtMC4xLTAuMSAgYy0xMi41LDEzLjktMTIuNSwzNi40LDAsNTAuM2wyMjMuOSwyNDguMWMxMi41LDE0LDMyLjcsMTQsNDUuMiwwbDAuOC0xLjNsMjIzLjQtMjQ2LjdDNTE1LjEsMTQzLjYsNTE1LjEsMTIxLDUwMi42LDEwNy4xICBMNTAyLjYsMTA3LjF6Ii8+Cjwvc3ZnPg==') !important;
  border-radius: 4px;
  border: 1px solid $color-text;
}

.input-select:hover {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEzMzkgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMzM5IDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNGRkZGRkY7fQo8L3N0eWxlPgogIDxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik01MDIuNiwxMDcuMWwtMC40LTAuM2MtNS44LTYuNy0xMy44LTEwLjktMjIuOC0xMC45SDMyLjZjLTkuMiwwLTE3LjMsNC40LTIzLjEsMTEuM2wtMC4xLTAuMSAgYy0xMi41LDEzLjktMTIuNSwzNi40LDAsNTAuM2wyMjMuOSwyNDguMWMxMi41LDE0LDMyLjcsMTQsNDUuMiwwbDAuOC0xLjNsMjIzLjQtMjQ2LjdDNTE1LjEsMTQzLjYsNTE1LjEsMTIxLDUwMi42LDEwNy4xICBMNTAyLjYsMTA3LjF6Ii8+Cjwvc3ZnPg==') !important;
  background-color: $color-blue;
  border-color: $color-blue;
  color: white;
  cursor: pointer;
}

.input-select:hover ~ .pricon-caret-right {
  color: white;
}

.pricon-caret-right {
  font-size: 12px;
  transform: rotate(90deg);
  position: absolute;
  right: 12px;
  bottom: 15px;
  color:$color-text;
}

.search-field {
  margin: 20px 0;
  flex-flow: row nowrap;
  display: flex !important;
  justify-content: flex-start !important;
}

.search-field > .input-group {
  width: 100%;
}

.search-submit-btn {
  font-size: 15px;
  margin-left: 15px;
  background-color: $color-blue !important;
  color: white;
  transition: .1s;
}

.search-submit-btn:hover > span {
  color: white !important;
}

::placeholder {
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 1;
}

::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 1;
}

.search-error {
  color: $color-danger;
  font-weight: 500;
  opacity: 1;
}

.input-group-addon {
  width: auto !important;
  padding: 0 !important;
  height: auto !important;
  display: inline-block !important;
  background-color: transparent !important;
  border: 0px solid transparent !important;
  color: white;
}

.fa.fa-search {
  margin-right: 10px;
}

.fa-search-white {
  color: white;
}

.filter-content {
  background-color: $color-gray;
  padding: 20px;
}

.filter-content-title {
  margin-bottom: 10px;
}

.filter-selects {
  margin-top: 20px;
  max-width:500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.filter-radios {
  display: block;
}

.author-select {
  margin-right: 15px;
}

.author-select,
.subject-select {
  position: relative;
  flex-basis: 50%;
}

.subjects-label,
.authors-label {
  font-weight: 500;
}

.radio-container:not(:first-child) {
  margin-left: 12px;
}

.show-list-wrap {
  margin: 20px 0;
}

.show-list {
  margin-left: 15px;
  text-decoration: underline !important;
}

.protocols {
  position: relative;
  background-color: $color-orange;
  padding: 20px 0;
}

.searching {
  padding-top: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.overlay {
  width:100%;
  height:100%;
  top: 0;
  position: absolute;
  z-index: 2;
  background-color: white;
  opacity: .7;
}

.loading {
  min-width:300px;

  z-index: 2 !important;
}

.protocols-btn-field {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.pricon-pen-white {
  color: white;
}

.new-protocol-btn {
  background-color:white !important;
  color: $color-text !important;
  margin-top: 15px;
}

.order-btns {
  display: flex;
  flex-flow:row nowrap;
  margin-top: 15px;
}

.order-btns > .btn-square:last-child {
  margin-left:10px;
}

.new-protocol-btn > .pricon-plus {
  margin-right: 15px;
}

.btn-square {
  display: inline-block;
  font-size: 15px;
  width: 180px;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid transparent;
  background-color: white;
  opacity: .6;
  color: $color-text !important;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.btn-square:not(:last-child) {
  margin-right: 10px;
}

.btn-square:hover {
  color: $color-blue;
  opacity: 1;
}

.btn-active {
  opacity: 1;
}

.btn-active:hover {
  opacity:1;
  color: $color-text;
}

.card {
  position: relative;
  width: 100%;
  min-height: 304px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  overflow:hidden;
}

.card-title {
  display: inline-block;
  max-width: 80%;
}

.card-body {
  color: $color-text;
}

// .card-small-text {
//   font-weight: 300;
// }

.card-comments-link {
  text-decoration: underline !important;
  margin-left: 10px;
}

.card-info {
  margin: 10px 0;
}

.card-info,
.card-paragraph {
  font-size: 15px;
  font-weight: 300;
}

.grid-xs-12 {
  margin-bottom: 16px !important;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 20px auto;
}

.pagination > li {
  width: auto;
  margin: 0 15px;
}

.pagination > li > a:focus {
  background-color: white;
}

.pagination > li > a:active {
  outline: 0 solid transparent;
}

.pagination > .next > a,
.pagination > .previous > a {
  width: 100% !important;
  padding: 0 5px !important;
}


.pagination a {
  border: 1px solid $color-blue !important;
  box-shadow: none !important;
}

.pagination a:hover {
  background-color: $color-blue !important;
  color: white !important;
}

.card-edit-btn {
  background-color: $color-blue;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height:40px;
  text-align:center;
  padding-top: 5px;
  border-top-right-radius: 20px;
  transition: .3s;
}

.card-edit-btn:hover {
  opacity: .8;
}

.container {
  padding: 0 15px !important;
}

.card-as-list {
  min-height: 200px;
}

/* CUSTOM RADIO BUTTON */

/* Customize the label (the container) */
.radio-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-title {
  font-size:15px;
  margin-left: 30px;
}

/* Hide the browser's default radio button */
.radio-container .radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radio-btn {
  border: 1px solid $color-text;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-btn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container .radio-input:checked ~ .radio-btn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-btn:after {
  top: 4px;
  left:4px;
  width:12px;
  height: 12px;
  border-radius: 50%;
  background: $color-text;
}

/* MEDIA QUERIES */

@media screen and (max-width: 672px) {

  .card {
    min-height: 200px;
  }

  .search-submit-btn {
    display: none;
  }

  .input-search-submit-icon {
    display: block;
  }

  .btn-square {
    width:125px;
  }

  .protocols-btn-field {
    flex-flow: column nowrap;
  }

  .filter-content {
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .radio-container,
  .radio-container:not(:first-child) {
    display: block;
    margin: 10px 0;
  }

  .container {
    padding: 0 5px !important;
  }

  .show-list-wrap {
    text-align:center;
    margin: 15px 0;
  }

  .show-list {
    display: none;
  }
}
